*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

    .newLine{
            clear:left;
        }
body{
    height:100vh;
    display: flex;
   background-color: lightgray;
}
.gamemap{
    background-image: url("https://github.com/devapath89/Ninjamanager/blob/main/IMG/map.png?raw=true");
    width:600px;
    height: 600px;
    position:absolute
}
    
    .Map {
        width: 75px;
        height:75px;
        border: 1px solid red;
         position: relative;
      }